<footer class="site-footer" role="contentinfo">
  <div class="center mw1140p">
    <h2>Three columns</h2>
    <div class="grid-3 has-gutter-l">
      <div>
        <ul>
          <li><a href="">varius pellentesque</a></li>
          <li><a href="">Aenean tincidunt lectus</a></li>
          <li><a href="">Suspendisse id quam</a></li>
        </ul>
      </div>
      <div>
        <ul>
          <li><a href="">varius pellentesque</a></li>
          <li><a href="">Aenean tincidunt lectus</a></li>
          <li><a href="">Suspendisse id quam</a></li>
        </ul>    
      </div>
      <div>
        <ul>
          <li><a href="">varius pellentesque</a></li>
          <li><a href="">Aenean tincidunt lectus</a></li>
          <li><a href="">Suspendisse id quam</a></li>
        </ul>
      </div>  
    </div>
    <ul class="flex-container">
      <li><a href="">terms of use</a></li>
      <li><a href="">privacy</a></li>
      <li><a href="">copyright</a></li>
    </ul>
  </div>    
</footer>
