<div class="block">
	<h2>Grid Images</h2>
	<div class="grid-images grid-3 has-gutter">
		{% for figcaption in site.data.figcaptions %}
		<div class="block-item">
			<a class="" href="">
				<figure role="group">
          {% assign image1 = "/assets/images/illu1.jpg" | relative_url %}
          {% assign image2 = "/assets/images/illu2.jpg" | relative_url %}
					<img src={% cycle image1, image2 %} alt="">
					<figcaption class="txtcenter">
						{{ figcaption.legend }}
					</figcaption>
				</figure>
			</a>
		</div>
		{% endfor %}
	</div>
</div>
