<!-- SkipLink https://www.w3.org/WAI/WCAG20/quickref/#qr-navigation-mechanisms-skip-->
<a href="#main" class="skiplink">Main content</a>
<!--/ SkipLink -->
<header class="site-header" role="banner">
  <div class="mw1140p center flex-container">
    <a class="site-logo" href="/"><img src="{{ "/assets/images/logo.jpg" | relative_url }}" alt="{{site.title}} | accueil" width="200" height="71"></a>
    <p class="site-title">{{ site.baseline }}</p>
    <button class="nav-button" type="button" role="button">Menu</button>
    <nav id="navigation" role="navigation" class="navigation">
      <a href="/">Picon</a>
      <a href="/">Melfor</a>
      <a href="/">Carola</a>
      <a href="/">Flammekueche</a>
      <a href="/">Wurscht</a>
    </nav>
  </div>  
</header>
